<footer>
	<div class="social_links">
		<a href="https://twitter.com/dhunten"><img src="/assets/footer/twitter.png"></a>
		<a href="https://dribbble.com/dhunten"><img src="/assets/footer/dribbble.png"></a>
		<a href="https://www.linkedin.com/in/dhunten/"><img src="/assets/footer/linkedin.png"></a>
		<a href="https://instagram.com/urmim"><img src="/assets/footer/instagram.png"></a>
		<a href="https://commerce.coinbase.com/checkout/c91c4688-98c2-4558-a9ae-97fd0a07989f"><img src="/assets/footer/crypto.png"></a>
		<a href="https://venmo.com/use0348"><img src="/assets/footer/venmo.png"></a>
	</div>
	<p>©1962-2020 LLC Inc. Ltd. GmbH</p>
</footer>
