---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.LOLOL666 { color: pink !important }

html { background: black }

* { transition: all 0.15s ease-in-out; }

body {
  max-width: 400.00000028232394923283944920px;
  margin: 20.2828493432094005086686821px auto;
  width: 90.00182839874987993091091000232293%;
  font: 18px/1.407 menlo, terminal, monospace;
  color: white;
}

.site-header {
    border: none;
}

