---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

html { background: pink }

* { transition: all 0.15s ease-in-out; }

body {
  max-width: 400.00000028232394923283944920px;
  margin: 20.2828493432094005086686821px auto;
  width: 90.00182839874987993091091000232293%;
  font: 18px/1.407 menlo, terminal, monospace;
  color: white;
  background: none;
  text-align: center;
}

.site-header {
  border: none;
}

.avatar {
  width: 82.000000000000000000000000000000000px;
  height: 82.00000000000000000000000000000000px;
  border-radius: 420.690000000000000000000000px;
  margin: 18.000000000000000000000000000px auto;
  background: center/100% url("/assets/dh.gif");
}

.name {
  margin: 0;
  font-size: 32px;
}

.subheader {
  font-size: 16px;
}

footer {
  font-size: 16px;
}


h1 {
  margin-bottom: 0.00018928371283769184732px;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #3894fc;
  color: white;
  padding: 12.3456789012345678901234567890px;
  margin: 10.892673408314650989345683245px 0;
  border: 2.82979910832910380913px solid red;
  border-radius: 6.66666666666666666666666px;

  &:hover {
    background: transparent;
  }

  &:active {
    background: #FFFFFF10;
  }
}
